<app-top-bar>
  <div class="back-button">
    <button mat-icon-button routerLink="/posts">
      <mat-icon fontSet="material-symbols-outlined">arrow_back</mat-icon>
    </button>
  </div>
  <span class="title">Comments</span>
</app-top-bar>

@if (this.initialLoadingStatus === 'success') {
  <app-post [post]="this.post!" showCommentButton="false">
  </app-post>

  <form>
    <mat-form-field subscriptSizing="dynamic" appearance="fill" (focusin)="this.leaveCommentActive = true">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="0"
                cdkAutosizeMaxRows="8"
                [formControl]="draftComment"
      ></textarea>
      @if (this.leaveCommentActive) {
        <div class="comment-button">
          <button click-stop-propagation mat-button [disabled]="!this.leaveCommentActive" (click)="this.leaveCommentActive = false; draftComment.setValue(null)">Cancel</button>
          <button mat-flat-button [disabled]="!this.leaveCommentActive" (click)="postComment()">Post</button>
        </div>
      }
    </mat-form-field>
  </form>

  <div class="comments">
    <app-comment *ngFor="let comment of comments" [comment]="comment"></app-comment>
  </div>

} @else {
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
}
