:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

app-top-bar {
  .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font: var(--may-sys-title-large)
  }

  .back-button {
    padding: 0 5px;
  }
}

.spinner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

form {
  padding: 10px;
  border-bottom: 1px solid var(--mat-sys-outline);

  mat-form-field {
    width: 100%;
  }

  .horizontal{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .comment-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 10px;
    gap: 10px;
  }
}
