:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

app-top-bar {
  .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font: var(--may-sys-title-large)
  }
}
