
.signin {
  width: 30%;
  min-width: 400px;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    mat-form-field {
      width: 100%;
    }

    [matIconSuffix] {
      padding: 0 10px;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
  }
}

