<app-top-bar>
  <mat-icon fontIcon="location_on"></mat-icon>
  <div class="location">
    Chicago, IL
  </div>
  <button mat-icon-button class="settings-button" (click)="openFilterModal()">
    <mat-icon>tune</mat-icon>
  </button>
  <div class="space">
  </div>
  <div class="post-button">
    <button mat-stroked-button>
      <mat-icon fontIcon="post_add"></mat-icon>
      <div>Post</div>
    </button>
  </div>
</app-top-bar>

@if (this.initialLoadingStatus == 'success') {
  <div class="post" *ngFor="let post of posts">
    <app-post [post]="post"></app-post>
  </div>
  <div class="more-button">
    @if (this.moreLoadingStatus == 'success') {
      <div class="vertical">
        <button mat-stroked-button [disabled]="this.noMorePosts" (click)="fetchNextPage()">More</button>
        @if (this.noMorePosts) {
          No older posts
        }
      </div>
    } @else if (this.moreLoadingStatus == 'loading') {
      <mat-spinner [diameter]=40></mat-spinner>
    }
  </div>
} @else if (this.initialLoadingStatus == 'loading') {
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
} @else if (this.initialLoadingStatus == 'error') {
  ERROR!!
}
