:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top-bar {
  position: sticky;
  top: 0;
  background-color: var(--mat-sys-surface);
  z-index: 1;

  border-bottom: solid 1px;
  border-color: var(--mat-sys-outline);
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0 0 0 10px;
  height: 50px;

  mat-icon {
    flex-shrink: 0;
  }

  .location {
    padding-left: 5px;
    padding-right: 10px;
    white-space: nowrap;
    flex-shrink: 0;
  }

  .settings-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
  }

  .space {
    width: 100%;
    flex-grow: 1;
  }

  .post-button {
    padding-right: 5px;
  }
}

.posts > :not(:last-child)  {
  border-bottom: 1px solid var(--mat-sys-outline);
}

.spinner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
