@import 'variables';

.all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}

.middle {
  display: flex;
  width: 800px
}

.right {
  display: flex;
  border-left: solid 1px;
  border-color: $col-light-grey;
}

.left {
  display: flex;
  flex-direction: column;
  border-right: solid 1px;
  border-color: $col-light-grey;
  padding: 20px 20px 0 0;

  .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px 0 20px;
  }

  .link {
    transition-duration: 0.1s;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    font-size: 1.5rem;
    padding: 6px 30px 6px 20px;
    width: 100%;
    text-align: left;
    color: $col-text;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 4px;
  }

  .link:hover {
    background-color: $col-light-grey;
    cursor: pointer;
  }

  .active {
    text-decoration: underline;
  }
}

