<div class="all">
  <nav class="left">
    <div>
      PROFILE
    </div>
    <div class="links">
      <button class="link" routerLink="/feed" routerLinkActive="active">Home</button>
      <button class="link" routerLink="/users/aprilmack/profile" routerLinkActive="active">Profile</button>
      <button class="link" routerLink="/settings" routerLinkActive="active">Settings</button>
      <button class="link">Sign out</button>
    </div>
  </nav>

  <main class="middle">
    <router-outlet />
  </main>

  <div class="right">
  </div>
</div>



