<div class="all">
  <nav class="left">
    <div>
      <app-profile-badge routerLink="/users/aprilmack/profile"></app-profile-badge>
    </div>
    <div class="links">
      <button class="link" routerLink="/feed" routerLinkActive="active">
        <mat-icon fontIcon="home"></mat-icon>
        <div>Home</div>
      </button>
      <button class="link" routerLink="/users/aprilmack/profile" routerLinkActive="active">
        <mat-icon fontIcon="person"></mat-icon>
        <div>Profile</div>
      </button>
      <button class="link" routerLink="/settings" routerLinkActive="active">
        <mat-icon fontIcon="settings"></mat-icon>
        <div>Settings</div>
      </button>
      <button class="link">
        <mat-icon fontIcon="logout"></mat-icon>
        <div>Sign out</div>
      </button>
    </div>
  </nav>

  <main class="middle">
    <router-outlet />
  </main>

  <div class="right">
  </div>
</div>



