<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

<div class="profile">
  <img ngSrc="{{this.post.author.profilePhotoUrl}}" height="50" width="50" alt="profile photo"/>
</div>
<div class="content">
  <div class="user">
    <span class="profileName">{{this.post.author.profileName}}</span>
    <span class="userName">&#64;{{this.post.author.username}}</span>
  </div>
  <div class="body">
    {{ this.post.body }}
  </div>
  <div class="info">
    <span class="createdAt">{{this.post.createdAt | date:'M/d/yy h:mm a'}}</span>
    <span>&bullet;</span>
    <span class="distance">{{this.post.distanceKm | number: '1.0-1'}} km away</span>
  </div>
  <div class="reactions">
    <button mat-icon-button>
      <mat-icon fontSet="material-symbols-outlined" [class]="this.post.myReaction == 'like' ? 'icon-filled' : 'icon-not-filled'">thumb_up</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon fontSet="material-symbols-outlined" [class]="this.post.myReaction == 'dislike' ? 'icon-filled' : 'icon-not-filled'">thumb_down</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon fontSet="material-symbols-outlined">forum</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>ios_share</mat-icon>
    </button>
  </div>
</div>
