.icon-filled {
  font-variation-settings: 'FILL' 1
}
.icon-not-filled {
  font-variation-settings: 'FILL' 0
}

.top {
  display: flex;
  flex-direction: row;
  padding: 10px;

  .profilePhoto {

    :hover {
      cursor: pointer;
    }

    img {
      border-radius: 50%;
      object-fit: cover;
      width: 50px;
      height: 50px;
    }
  }

  .content {
    padding-left: 10px;
    width: 100%;
    .user {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      font: var(--mat-sys-title-medium);

      .profileName:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      .userName {
        font-weight: normal;
        color: var(--mat-sys-outline);
      }
    }
    .body {
      font: var(--mat-sys-body-large);
      padding-top: 5px;
    }
    .info {
      padding-top: 5px;
      font: var(--mat-sys-body-large);
      color: var(--mat-sys-outline);
      * {
        padding-right: 5px;
      }
    }
  }
}

.reactions {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 5px 100px 5px 60px;

  .with-count {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
  }

  mat-icon {
    color: var(--mat-sys-on-surface-variant);
  }
}
