:host {
  width: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;

  h1 {
    text-align: center;
  }

  .welcome {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 10px;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
