<div class="center">
  @if (welcomeState() === 'welcome') {
    <div class="welcome">
      <h1>Kitty Corner</h1>
      <button mat-flat-button (click)="welcomeState.set('signup')">Sign up</button>
      <button mat-stroked-button (click)="welcomeState.set('signin')">Sign in</button>
    </div>
  }

  @else if (welcomeState() === 'signin') {
    <app-sign-in (backEvent)="welcomeState.set('welcome')"></app-sign-in>
  }

  @else if (welcomeState() === 'signup') {
    <app-sign-up (backEvent)="welcomeState.set('welcome')"></app-sign-up>
  }
</div>

