<h2 mat-dialog-title>Update Location</h2>

<mat-dialog-content>
  <div class="spinner-status">
    @if (locationLoadingStatus() === 'loading') {
      <mat-spinner diameter="40"></mat-spinner>
      <span class="green">Determining location</span>
    } @else if (locationLoadingStatus() === 'success') {
      <mat-icon class="green" fontSet="material-symbols-outlined">check_circle</mat-icon>
      <span class="green">Location found</span>
    } @else if (locationLoadingStatus() === 'error') {
      <mat-icon class="red" fontSet="material-symbols-outlined">error</mat-icon>
      <span class="red">Error</span>
    } @else if (locationLoadingStatus() === 'error-permission-denied') {
      <mat-icon class="red" fontSet="material-symbols-outlined">error</mat-icon>
      <span class="red">You must allow location access.</span>
    }
  </div>
  @if (locationLoadingStatus() === 'success') {
    <div class="locationChange">
      <div>{{ this.currentLocation.location }}</div>
      <mat-icon>arrow_right_alt</mat-icon>
      <div>{{ this.location()!.location }}</div>
    </div>
  }

  <mat-dialog-actions align="end">
    <button mat-button (click)="closeDialog()">Cancel</button>
    <button mat-stroked-button [disabled]="locationLoadingStatus() !== 'success'" [mat-dialog-close]="location()">Update</button>
  </mat-dialog-actions>
</mat-dialog-content>
