@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$green-palette,
    typography: Roboto,
    density: 0
  ));
  background-color: var(--mat-sys-surface);
}

button[mat-icon-button] {
  line-height: 1 !important;
}

body {
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
